{% extends 'base.html' %}
{% block title %}Профиль пользователья {{ user.get_full_name }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-5">
            <div class="well">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      {% if user.avatar %}
                        <img class="media-object" src="{{ user.avatar.url }}" width="100"/>
                      {% endif %}
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">{{ user.get_full_name }}</h4>
                      <h6>Имя: {{ user.first_name }}</h6>
                      <h6>Фамилия: {{ user.last_name }}</h6>
                      <h6>e-mail: {{ user.email }}</h6>
                  </div>
                </div>
                {% if request.user.id = user.id %}
                    Это ваш профиль<br />
                    {% if request.user.employee %}
                        У вас уже есть профиль исполнителя
                        <a class="btn btn-primary" href="{% url 'works:update_employee' request.user.employee.id %}">Изменить</a>
                    {% else %}
                        <a class="btn btn-primary" href="{% url 'works:create_employee' %}">Создать профиль исполнителя</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}